In [1]:
from bs4 import BeautifulSoup
import pandas as pd
from splinter import Browser
import time

In [2]:
executable_path = {'executable_path': '/Users/2fresh/Desktop/Working Repo & Notes/1) Homework Working Repo/Unit 12/Instructions/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Mars scraping for top title article with title and paragraph
url_mars = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url_mars)
browser.is_element_present_by_tag('div', wait_time=2)
mars_scraped_final = {}

In [4]:
html_mars = browser.html

In [5]:
soup_mars = BeautifulSoup(html_mars, 'lxml')

In [6]:
news_title = soup_mars.find('div', class_='content_title').text
news_title

"Curiosity Tastes First Sample in 'Clay-Bearing Unit'"

In [7]:
news_paragraph = soup_mars.find('div', class_='article_teaser_body').text
news_paragraph

'This new region on Mars might reveal more about the role of water on Mount Sharp.'

In [8]:
mars_scraped_final['news_title'] = news_title
mars_scraped_final['news_paragraph'] = news_paragraph

In [9]:
# JPL scraping for featured Mars image
url_jpl = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_jpl)
browser.is_text_present('FULL IMAGE', wait_time=2)
browser.click_link_by_partial_text('FULL IMAGE')
browser.is_element_present_by_css('fancybox-image', wait_time=2)

False

In [10]:
html_jpl = browser.html

In [11]:
soup_jpl = BeautifulSoup(html_jpl, 'lxml')

In [12]:
image_location = soup_jpl.find('img', class_='fancybox-image')['src'].strip()
image_location

'/spaceimages/images/mediumsize/PIA17356_ip.jpg'

In [13]:
featured_image_url = 'https://www.jpl.nasa.gov' + image_location
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17356_ip.jpg'

In [14]:
mars_scraped_final['featured_image_url'] = featured_image_url

In [15]:
# Scrape weather for Mars from their twitter account
url_mars_weather = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url_mars_weather)
browser.is_element_present_by_tag('p', wait_time=2)

True

In [16]:
html_mars_weather = browser.html

In [17]:
soup_mars_weather = BeautifulSoup(html_mars_weather, 'lxml')

In [18]:
tweets = soup_mars_weather.find_all('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')

In [19]:
for tweet in tweets:
    try:
        mars_weather = tweet.text.replace('\n', '').split("pic")[0]
        if "InSight" in mars_weather:
            break
    except:
        pass

mars_weather

'InSight sol 133 (2019-04-11) low -96.8ºC (-142.3ºF) high -15.7ºC (3.8ºF)winds from the W at 4.2 m/s (9.3 mph) gusting to 11.7 m/s (26.2 mph)pressure at 7.30 hPa'

In [20]:
mars_scraped_final["mars_weather"] = mars_weather

In [21]:
# Scrape Mars Facts page using Pandas
url_facts = 'https://space-facts.com/mars/'

In [22]:
tables = pd.read_html(url_facts)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [23]:
df = tables[0]
df.columns = ['title', 'value']

In [24]:
df.head()

                  title                          value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [25]:
html_facts = df.to_html()
html_facts

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>title</th>\n      <th>value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [26]:
html_facts = html_facts.replace('\n', '')

In [27]:
html_facts

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>title</th>      <th>value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [28]:
mars_scraped_final['mars_facts'] = html_facts

In [29]:
# Scrape Mars Astrogeology Science Center for images
url_mars_weather = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_mars_weather)
browser.is_element_present_by_tag('div', wait_time=2)

True

In [30]:
html_mars_hemisphere = browser.html

In [31]:
soup_mars_hemisphere = BeautifulSoup(html_mars_hemisphere, 'lxml')

In [32]:
# Scrape Mars Astrogeology Science Center for images

hemisphere_image_urls = []
hemisphere_titles = soup_mars_hemisphere.find_all('div', class_='item')

for x in hemisphere_titles:
    url_mars_weather = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
    browser.visit(url_mars_weather)
    html_mars_hemisphere = browser.html
    soup_mars_hemisphere = BeautifulSoup(html_mars_hemisphere, 'lxml')
    browser.is_text_present('Hemisphere Enhanced', wait_time=2)
    title = x.find('h3').text
#     assert browser.find_link_by_partial_text('Hemisphere Enhanced')
#     browser.click_link_by_partial_text('Hemisphere Enhanced')
    browser.click_link_by_partial_text(title)
    browser.is_text_present('Hemisphere Enhanced', wait_time=2)

    html_mars_hemisphere = browser.html
    soup_mars_hemisphere = BeautifulSoup(html_mars_hemisphere, 'lxml')
    
    partial_img = soup_mars_hemisphere.find('img', class_="wide-image")['src']
    img = 'https://astrogeology.usgs.gov' + partial_img
    
    hemisphere_image_urls.append({"title": title, "img_url": img})
    
    
#     hemisphere_image_urls_test["image"] = soup_mars_hemisphere.find('div', class_="downloads").img['src'].strip()
#     hemisphere_image_urls_test["title"] = soup_mars_hemisphere.find('h2', class_="title").text
#     hemisphere_image_urls_test.update(hemisphere_image_urls_test)

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [33]:
mars_scraped_final['hemisphere_title_url'] = hemisphere_image_urls

In [34]:
mars_scraped_final

{'news_title': "Curiosity Tastes First Sample in 'Clay-Bearing Unit'",
 'news_paragraph': 'This new region on Mars might reveal more about the role of water on Mount Sharp.',
 'featured_image_url': 'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17356_ip.jpg',
 'mars_weather': 'InSight sol 133 (2019-04-11) low -96.8ºC (-142.3ºF) high -15.7ºC (3.8ºF)winds from the W at 4.2 m/s (9.3 mph) gusting to 11.7 m/s (26.2 mph)pressure at 7.30 hPa',
 'mars_facts': '<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>title</th>      <th>value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>',
 'hemisphere_title_url': [{'title': 'Cerberus Hemisphere Enhanced',
   'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
  {'title': 'Schiaparelli Hemisphere Enhanced',
   'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
  {'title': 'Syrtis Major Hemisphere Enhanced',
   'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
  {'title': 'Valles Marineris Hemisphere Enhanced',
   'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]}

In [ ]:
browser.quit()